.tx-al-l { text-align: left; }
.tx-al-c { text-align: center; }
.tx-al-r { text-align: right; }
.ve_al-t { display: table-cell; vertical-align: top; }
.ve_al-m { display: table-cell; vertical-align: middle; }
.ve_al-b { display: table-cell; vertical-align: bottom; }
.fl_r { float: right; }
.fl_l { float: left; }
.fw_b { font-weight: 800; }
.fw_n { font-weight: 200; }
.bd_t_n { border-top: none !important; }
.bd_l_n { border-left: none !important; }
.bd_r_n { border-right: none !important; }
.bd_b_n { border-bottom: none !important; }

.mg_l_4 { margin-left: 4px; } .pd_l_4 { padding-left: 4px; }
.mg_l_8 { margin-left: 8px; } .pd_l_8 { padding-left: 8px; }
.mg_l_12 { margin-left: 12px; } .pd_l_12 { padding-left: 12px; }
.mg_l_16 { margin-left: 16px; } .pd_l_16 { padding-left: 16px; }
.mg_l_20 { margin-left: 20px; } .pd_l_20 { padding-left: 20px; }
.mg_l_24 { margin-left: 24px; } .pd_l_24 { padding-left: 24px; }
.mg_l_28 { margin-left: 28px; } .pd_l_28 { padding-left: 28px; }
.mg_l_32 { margin-left: 32px; } .pd_l_32 { padding-left: 32px; }
.mg_l_36 { margin-left: 36px; } .pd_l_36 { padding-left: 36px; }
.mg_l_40 { margin-left: 40px; } .pd_l_40 { padding-left: 40px; }
.mg_l_44 { margin-left: 44px; } .pd_l_44 { padding-left: 44px; }
.mg_l_48 { margin-left: 48px; } .pd_l_48 { padding-left: 48px; }
.mg_l_52 { margin-left: 52px; } .pd_l_52 { padding-left: 52px; }
.mg_l_56 { margin-left: 56px; } .pd_l_56 { padding-left: 56px; }
.mg_l_60 { margin-left: 60px; } .pd_l_60 { padding-left: 60px; }
.mg_l_64 { margin-left: 64px; } .pd_l_64 { padding-left: 64px; }
.mg_l_68 { margin-left: 68px; } .pd_l_68 { padding-left: 68px; }
.mg_l_72 { margin-left: 72px; } .pd_l_72 { padding-left: 72px; }
.mg_l_76 { margin-left: 76px; } .pd_l_76 { padding-left: 76px; }
.mg_l_80 { margin-left: 80px; } .pd_l_80 { padding-left: 80px; }
.mg_l_84 { margin-left: 84px; } .pd_l_84 { padding-left: 84px; }
.mg_l_88 { margin-left: 88px; } .pd_l_88 { padding-left: 88px; }
.mg_l_92 { margin-left: 92px; } .pd_l_92 { padding-left: 92px; }
.mg_l_96 { margin-left: 96px; } .pd_l_96 { padding-left: 96px; }
.mg_l_100 { margin-left: 100px; } .pd_l_100 { padding-left: 100px; }
.mg_l_104 { margin-left: 104px; } .pd_l_104 { padding-left: 104px; }
.mg_l_108 { margin-left: 108px; } .pd_l_108 { padding-left: 108px; }
.mg_l_112 { margin-left: 112px; } .pd_l_112 { padding-left: 112px; }
.mg_l_116 { margin-left: 116px; } .pd_l_116 { padding-left: 116px; }
.mg_l_120 { margin-left: 120px; } .pd_l_120 { padding-left: 120px; }
.mg_l_124 { margin-left: 124px; } .pd_l_124 { padding-left: 124px; }
.mg_l_128 { margin-left: 128px; } .pd_l_128 { padding-left: 128px; }
.mg_l_132 { margin-left: 132px; } .pd_l_132 { padding-left: 132px; }
.mg_l_136 { margin-left: 136px; } .pd_l_136 { padding-left: 136px; }
.mg_l_140 { margin-left: 140px; } .pd_l_140 { padding-left: 140px; }
.mg_l_144 { margin-left: 144px; } .pd_l_144 { padding-left: 144px; }
.mg_l_148 { margin-left: 148px; } .pd_l_148 { padding-left: 148px; }
.mg_l_152 { margin-left: 152px; } .pd_l_152 { padding-left: 152px; }
.mg_l_156 { margin-left: 156px; } .pd_l_156 { padding-left: 156px; }
.mg_l_160 { margin-left: 160px; } .pd_l_160 { padding-left: 160px; }
.mg_l_164 { margin-left: 164px; } .pd_l_164 { padding-left: 164px; }
.mg_l_168 { margin-left: 168px; } .pd_l_168 { padding-left: 168px; }
.mg_l_172 { margin-left: 172px; } .pd_l_172 { padding-left: 172px; }
.mg_l_176 { margin-left: 176px; } .pd_l_176 { padding-left: 176px; }
.mg_l_180 { margin-left: 180px; } .pd_l_180 { padding-left: 180px; }
.mg_l_184 { margin-left: 184px; } .pd_l_184 { padding-left: 184px; }
.mg_l_188 { margin-left: 188px; } .pd_l_188 { padding-left: 188px; }
.mg_l_192 { margin-left: 192px; } .pd_l_192 { padding-left: 192px; }
.mg_l_196 { margin-left: 196px; } .pd_l_196 { padding-left: 196px; }
.mg_l_200 { margin-left: 200px; } .pd_l_200 { padding-left: 200px; }
.mg_l_204 { margin-left: 204px; } .pd_l_204 { padding-left: 204px; }
.mg_l_208 { margin-left: 208px; } .pd_l_208 { padding-left: 208px; }
.mg_l_212 { margin-left: 212px; } .pd_l_212 { padding-left: 212px; }
.mg_l_216 { margin-left: 216px; } .pd_l_216 { padding-left: 216px; }
.mg_l_220 { margin-left: 220px; } .pd_l_220 { padding-left: 220px; }
.mg_l_224 { margin-left: 224px; } .pd_l_224 { padding-left: 224px; }
.mg_l_228 { margin-left: 228px; } .pd_l_228 { padding-left: 228px; }
.mg_l_232 { margin-left: 232px; } .pd_l_232 { padding-left: 232px; }
.mg_l_236 { margin-left: 236px; } .pd_l_236 { padding-left: 236px; }
.mg_l_240 { margin-left: 240px; } .pd_l_240 { padding-left: 240px; }
.mg_l_244 { margin-left: 244px; } .pd_l_244 { padding-left: 244px; }
.mg_l_248 { margin-left: 248px; } .pd_l_248 { padding-left: 248px; }
.mg_l_252 { margin-left: 252px; } .pd_l_252 { padding-left: 252px; }
.mg_l_256 { margin-left: 256px; } .pd_l_256 { padding-left: 256px; }

.mg_r_4 { margin-right: 4px; } .pd_r_4 { padding-right: 4px; }
.mg_r_8 { margin-right: 8px; } .pd_r_8 { padding-right: 8px; }
.mg_r_12 { margin-right: 12px; } .pd_r_12 { padding-right: 12px; }
.mg_r_16 { margin-right: 16px; } .pd_r_16 { padding-right: 16px; }
.mg_r_20 { margin-right: 20px; } .pd_r_20 { padding-right: 20px; }
.mg_r_24 { margin-right: 24px; } .pd_r_24 { padding-right: 24px; }
.mg_r_28 { margin-right: 28px; } .pd_r_28 { padding-right: 28px; }
.mg_r_32 { margin-right: 32px; } .pd_r_32 { padding-right: 32px; }
.mg_r_36 { margin-right: 36px; } .pd_r_36 { padding-right: 36px; }
.mg_r_40 { margin-right: 40px; } .pd_r_40 { padding-right: 40px; }
.mg_r_44 { margin-right: 44px; } .pd_r_44 { padding-right: 44px; }
.mg_r_48 { margin-right: 48px; } .pd_r_48 { padding-right: 48px; }
.mg_r_52 { margin-right: 52px; } .pd_r_52 { padding-right: 52px; }
.mg_r_56 { margin-right: 56px; } .pd_r_56 { padding-right: 56px; }
.mg_r_60 { margin-right: 60px; } .pd_r_60 { padding-right: 60px; }
.mg_r_64 { margin-right: 64px; } .pd_r_64 { padding-right: 64px; }
.mg_r_68 { margin-right: 68px; } .pd_r_68 { padding-right: 68px; }
.mg_r_72 { margin-right: 72px; } .pd_r_72 { padding-right: 72px; }
.mg_r_76 { margin-right: 76px; } .pd_r_76 { padding-right: 76px; }
.mg_r_80 { margin-right: 80px; } .pd_r_80 { padding-right: 80px; }
.mg_r_84 { margin-right: 84px; } .pd_r_84 { padding-right: 84px; }
.mg_r_88 { margin-right: 88px; } .pd_r_88 { padding-right: 88px; }
.mg_r_92 { margin-right: 92px; } .pd_r_92 { padding-right: 92px; }
.mg_r_96 { margin-right: 96px; } .pd_r_96 { padding-right: 96px; }
.mg_r_100 { margin-right: 100px; } .pd_r_100 { padding-right: 100px; }
.mg_r_104 { margin-right: 104px; } .pd_r_104 { padding-right: 104px; }
.mg_r_108 { margin-right: 108px; } .pd_r_108 { padding-right: 108px; }
.mg_r_112 { margin-right: 112px; } .pd_r_112 { padding-right: 112px; }
.mg_r_116 { margin-right: 116px; } .pd_r_116 { padding-right: 116px; }
.mg_r_120 { margin-right: 120px; } .pd_r_120 { padding-right: 120px; }
.mg_r_124 { margin-right: 124px; } .pd_r_124 { padding-right: 124px; }
.mg_r_128 { margin-right: 128px; } .pd_r_128 { padding-right: 128px; }
.mg_r_132 { margin-right: 132px; } .pd_r_132 { padding-right: 132px; }
.mg_r_136 { margin-right: 136px; } .pd_r_136 { padding-right: 136px; }
.mg_r_140 { margin-right: 140px; } .pd_r_140 { padding-right: 140px; }
.mg_r_144 { margin-right: 144px; } .pd_r_144 { padding-right: 144px; }
.mg_r_148 { margin-right: 148px; } .pd_r_148 { padding-right: 148px; }
.mg_r_152 { margin-right: 152px; } .pd_r_152 { padding-right: 152px; }
.mg_r_156 { margin-right: 156px; } .pd_r_156 { padding-right: 156px; }
.mg_r_160 { margin-right: 160px; } .pd_r_160 { padding-right: 160px; }
.mg_r_164 { margin-right: 164px; } .pd_r_164 { padding-right: 164px; }
.mg_r_168 { margin-right: 168px; } .pd_r_168 { padding-right: 168px; }
.mg_r_172 { margin-right: 172px; } .pd_r_172 { padding-right: 172px; }
.mg_r_176 { margin-right: 176px; } .pd_r_176 { padding-right: 176px; }
.mg_r_180 { margin-right: 180px; } .pd_r_180 { padding-right: 180px; }
.mg_r_184 { margin-right: 184px; } .pd_r_184 { padding-right: 184px; }
.mg_r_188 { margin-right: 188px; } .pd_r_188 { padding-right: 188px; }
.mg_r_192 { margin-right: 192px; } .pd_r_192 { padding-right: 192px; }
.mg_r_196 { margin-right: 196px; } .pd_r_196 { padding-right: 196px; }
.mg_r_200 { margin-right: 200px; } .pd_r_200 { padding-right: 200px; }
.mg_r_204 { margin-right: 204px; } .pd_r_204 { padding-right: 204px; }
.mg_r_208 { margin-right: 208px; } .pd_r_208 { padding-right: 208px; }
.mg_r_212 { margin-right: 212px; } .pd_r_212 { padding-right: 212px; }
.mg_r_216 { margin-right: 216px; } .pd_r_216 { padding-right: 216px; }
.mg_r_220 { margin-right: 220px; } .pd_r_220 { padding-right: 220px; }
.mg_r_224 { margin-right: 224px; } .pd_r_224 { padding-right: 224px; }
.mg_r_228 { margin-right: 228px; } .pd_r_228 { padding-right: 228px; }
.mg_r_232 { margin-right: 232px; } .pd_r_232 { padding-right: 232px; }
.mg_r_236 { margin-right: 236px; } .pd_r_236 { padding-right: 236px; }
.mg_r_240 { margin-right: 240px; } .pd_r_240 { padding-right: 240px; }
.mg_r_244 { margin-right: 244px; } .pd_r_244 { padding-right: 244px; }
.mg_r_248 { margin-right: 248px; } .pd_r_248 { padding-right: 248px; }
.mg_r_252 { margin-right: 252px; } .pd_r_252 { padding-right: 252px; }
.mg_r_256 { margin-right: 256px; } .pd_r_256 { padding-right: 256px; }

.mg_t_4 { margin-top: 4px; } .pd_t_4 { padding-top: 4px; }
.mg_t_8 { margin-top: 8px; } .pd_t_8 { padding-top: 8px; }
.mg_t_12 { margin-top: 12px; } .pd_t_12 { padding-top: 12px; }
.mg_t_16 { margin-top: 16px; } .pd_t_16 { padding-top: 16px; }
.mg_t_20 { margin-top: 20px; } .pd_t_20 { padding-top: 20px; }
.mg_t_24 { margin-top: 24px; } .pd_t_24 { padding-top: 24px; }
.mg_t_28 { margin-top: 28px; } .pd_t_28 { padding-top: 28px; }
.mg_t_32 { margin-top: 32px; } .pd_t_32 { padding-top: 32px; }
.mg_t_36 { margin-top: 36px; } .pd_t_36 { padding-top: 36px; }
.mg_t_40 { margin-top: 40px; } .pd_t_40 { padding-top: 40px; }
.mg_t_44 { margin-top: 44px; } .pd_t_44 { padding-top: 44px; }
.mg_t_48 { margin-top: 48px; } .pd_t_48 { padding-top: 48px; }
.mg_t_52 { margin-top: 52px; } .pd_t_52 { padding-top: 52px; }
.mg_t_56 { margin-top: 56px; } .pd_t_56 { padding-top: 56px; }
.mg_t_60 { margin-top: 60px; } .pd_t_60 { padding-top: 60px; }
.mg_t_64 { margin-top: 64px; } .pd_t_64 { padding-top: 64px; }
.mg_t_68 { margin-top: 68px; } .pd_t_68 { padding-top: 68px; }
.mg_t_72 { margin-top: 72px; } .pd_t_72 { padding-top: 72px; }
.mg_t_76 { margin-top: 76px; } .pd_t_76 { padding-top: 76px; }
.mg_t_80 { margin-top: 80px; } .pd_t_80 { padding-top: 80px; }
.mg_t_84 { margin-top: 84px; } .pd_t_84 { padding-top: 84px; }
.mg_t_88 { margin-top: 88px; } .pd_t_88 { padding-top: 88px; }
.mg_t_92 { margin-top: 92px; } .pd_t_92 { padding-top: 92px; }
.mg_t_96 { margin-top: 96px; } .pd_t_96 { padding-top: 96px; }
.mg_t_100 { margin-top: 100px; } .pd_t_100 { padding-top: 100px; }
.mg_t_104 { margin-top: 104px; } .pd_t_104 { padding-top: 104px; }
.mg_t_108 { margin-top: 108px; } .pd_t_108 { padding-top: 108px; }
.mg_t_112 { margin-top: 112px; } .pd_t_112 { padding-top: 112px; }
.mg_t_116 { margin-top: 116px; } .pd_t_116 { padding-top: 116px; }
.mg_t_120 { margin-top: 120px; } .pd_t_120 { padding-top: 120px; }
.mg_t_124 { margin-top: 124px; } .pd_t_124 { padding-top: 124px; }
.mg_t_128 { margin-top: 128px; } .pd_t_128 { padding-top: 128px; }
.mg_t_132 { margin-top: 132px; } .pd_t_132 { padding-top: 132px; }
.mg_t_136 { margin-top: 136px; } .pd_t_136 { padding-top: 136px; }
.mg_t_140 { margin-top: 140px; } .pd_t_140 { padding-top: 140px; }
.mg_t_144 { margin-top: 144px; } .pd_t_144 { padding-top: 144px; }
.mg_t_148 { margin-top: 148px; } .pd_t_148 { padding-top: 148px; }
.mg_t_152 { margin-top: 152px; } .pd_t_152 { padding-top: 152px; }
.mg_t_156 { margin-top: 156px; } .pd_t_156 { padding-top: 156px; }
.mg_t_160 { margin-top: 160px; } .pd_t_160 { padding-top: 160px; }
.mg_t_164 { margin-top: 164px; } .pd_t_164 { padding-top: 164px; }
.mg_t_168 { margin-top: 168px; } .pd_t_168 { padding-top: 168px; }
.mg_t_172 { margin-top: 172px; } .pd_t_172 { padding-top: 172px; }
.mg_t_176 { margin-top: 176px; } .pd_t_176 { padding-top: 176px; }
.mg_t_180 { margin-top: 180px; } .pd_t_180 { padding-top: 180px; }
.mg_t_184 { margin-top: 184px; } .pd_t_184 { padding-top: 184px; }
.mg_t_188 { margin-top: 188px; } .pd_t_188 { padding-top: 188px; }
.mg_t_192 { margin-top: 192px; } .pd_t_192 { padding-top: 192px; }
.mg_t_196 { margin-top: 196px; } .pd_t_196 { padding-top: 196px; }
.mg_t_200 { margin-top: 200px; } .pd_t_200 { padding-top: 200px; }
.mg_t_204 { margin-top: 204px; } .pd_t_204 { padding-top: 204px; }
.mg_t_208 { margin-top: 208px; } .pd_t_208 { padding-top: 208px; }
.mg_t_212 { margin-top: 212px; } .pd_t_212 { padding-top: 212px; }
.mg_t_216 { margin-top: 216px; } .pd_t_216 { padding-top: 216px; }
.mg_t_220 { margin-top: 220px; } .pd_t_220 { padding-top: 220px; }
.mg_t_224 { margin-top: 224px; } .pd_t_224 { padding-top: 224px; }
.mg_t_228 { margin-top: 228px; } .pd_t_228 { padding-top: 228px; }
.mg_t_232 { margin-top: 232px; } .pd_t_232 { padding-top: 232px; }
.mg_t_236 { margin-top: 236px; } .pd_t_236 { padding-top: 236px; }
.mg_t_240 { margin-top: 240px; } .pd_t_240 { padding-top: 240px; }
.mg_t_244 { margin-top: 244px; } .pd_t_244 { padding-top: 244px; }
.mg_t_248 { margin-top: 248px; } .pd_t_248 { padding-top: 248px; }
.mg_t_252 { margin-top: 252px; } .pd_t_252 { padding-top: 252px; }
.mg_t_256 { margin-top: 256px; } .pd_t_256 { padding-top: 256px; }

.mg_b_4 { margin-bottom: 4px; } .pd_b_4 { padding-bottom: 4px; }
.mg_b_8 { margin-bottom: 8px; } .pd_b_8 { padding-bottom: 8px; }
.mg_b_12 { margin-bottom: 12px; } .pd_b_12 { padding-bottom: 12px; }
.mg_b_16 { margin-bottom: 16px; } .pd_b_16 { padding-bottom: 16px; }
.mg_b_20 { margin-bottom: 20px; } .pd_b_20 { padding-bottom: 20px; }
.mg_b_24 { margin-bottom: 24px; } .pd_b_24 { padding-bottom: 24px; }
.mg_b_28 { margin-bottom: 28px; } .pd_b_28 { padding-bottom: 28px; }
.mg_b_32 { margin-bottom: 32px; } .pd_b_32 { padding-bottom: 32px; }
.mg_b_36 { margin-bottom: 36px; } .pd_b_36 { padding-bottom: 36px; }
.mg_b_40 { margin-bottom: 40px; } .pd_b_40 { padding-bottom: 40px; }
.mg_b_44 { margin-bottom: 44px; } .pd_b_44 { padding-bottom: 44px; }
.mg_b_48 { margin-bottom: 48px; } .pd_b_48 { padding-bottom: 48px; }
.mg_b_52 { margin-bottom: 52px; } .pd_b_52 { padding-bottom: 52px; }
.mg_b_56 { margin-bottom: 56px; } .pd_b_56 { padding-bottom: 56px; }
.mg_b_60 { margin-bottom: 60px; } .pd_b_60 { padding-bottom: 60px; }
.mg_b_64 { margin-bottom: 64px; } .pd_b_64 { padding-bottom: 64px; }
.mg_b_68 { margin-bottom: 68px; } .pd_b_68 { padding-bottom: 68px; }
.mg_b_72 { margin-bottom: 72px; } .pd_b_72 { padding-bottom: 72px; }
.mg_b_76 { margin-bottom: 76px; } .pd_b_76 { padding-bottom: 76px; }
.mg_b_80 { margin-bottom: 80px; } .pd_b_80 { padding-bottom: 80px; }
.mg_b_84 { margin-bottom: 84px; } .pd_b_84 { padding-bottom: 84px; }
.mg_b_88 { margin-bottom: 88px; } .pd_b_88 { padding-bottom: 88px; }
.mg_b_92 { margin-bottom: 92px; } .pd_b_92 { padding-bottom: 92px; }
.mg_b_96 { margin-bottom: 96px; } .pd_b_96 { padding-bottom: 96px; }
.mg_b_100 { margin-bottom: 100px; } .pd_b_100 { padding-bottom: 100px; }
.mg_b_104 { margin-bottom: 104px; } .pd_b_104 { padding-bottom: 104px; }
.mg_b_108 { margin-bottom: 108px; } .pd_b_108 { padding-bottom: 108px; }
.mg_b_112 { margin-bottom: 112px; } .pd_b_112 { padding-bottom: 112px; }
.mg_b_116 { margin-bottom: 116px; } .pd_b_116 { padding-bottom: 116px; }
.mg_b_120 { margin-bottom: 120px; } .pd_b_120 { padding-bottom: 120px; }
.mg_b_124 { margin-bottom: 124px; } .pd_b_124 { padding-bottom: 124px; }
.mg_b_128 { margin-bottom: 128px; } .pd_b_128 { padding-bottom: 128px; }
.mg_b_132 { margin-bottom: 132px; } .pd_b_132 { padding-bottom: 132px; }
.mg_b_136 { margin-bottom: 136px; } .pd_b_136 { padding-bottom: 136px; }
.mg_b_140 { margin-bottom: 140px; } .pd_b_140 { padding-bottom: 140px; }
.mg_b_144 { margin-bottom: 144px; } .pd_b_144 { padding-bottom: 144px; }
.mg_b_148 { margin-bottom: 148px; } .pd_b_148 { padding-bottom: 148px; }
.mg_b_152 { margin-bottom: 152px; } .pd_b_152 { padding-bottom: 152px; }
.mg_b_156 { margin-bottom: 156px; } .pd_b_156 { padding-bottom: 156px; }
.mg_b_160 { margin-bottom: 160px; } .pd_b_160 { padding-bottom: 160px; }
.mg_b_164 { margin-bottom: 164px; } .pd_b_164 { padding-bottom: 164px; }
.mg_b_168 { margin-bottom: 168px; } .pd_b_168 { padding-bottom: 168px; }
.mg_b_172 { margin-bottom: 172px; } .pd_b_172 { padding-bottom: 172px; }
.mg_b_176 { margin-bottom: 176px; } .pd_b_176 { padding-bottom: 176px; }
.mg_b_180 { margin-bottom: 180px; } .pd_b_180 { padding-bottom: 180px; }
.mg_b_184 { margin-bottom: 184px; } .pd_b_184 { padding-bottom: 184px; }
.mg_b_188 { margin-bottom: 188px; } .pd_b_188 { padding-bottom: 188px; }
.mg_b_192 { margin-bottom: 192px; } .pd_b_192 { padding-bottom: 192px; }
.mg_b_196 { margin-bottom: 196px; } .pd_b_196 { padding-bottom: 196px; }
.mg_b_200 { margin-bottom: 200px; } .pd_b_200 { padding-bottom: 200px; }
.mg_b_204 { margin-bottom: 204px; } .pd_b_204 { padding-bottom: 204px; }
.mg_b_208 { margin-bottom: 208px; } .pd_b_208 { padding-bottom: 208px; }
.mg_b_212 { margin-bottom: 212px; } .pd_b_212 { padding-bottom: 212px; }
.mg_b_216 { margin-bottom: 216px; } .pd_b_216 { padding-bottom: 216px; }
.mg_b_220 { margin-bottom: 220px; } .pd_b_220 { padding-bottom: 220px; }
.mg_b_224 { margin-bottom: 224px; } .pd_b_224 { padding-bottom: 224px; }
.mg_b_228 { margin-bottom: 228px; } .pd_b_228 { padding-bottom: 228px; }
.mg_b_232 { margin-bottom: 232px; } .pd_b_232 { padding-bottom: 232px; }
.mg_b_236 { margin-bottom: 236px; } .pd_b_236 { padding-bottom: 236px; }
.mg_b_240 { margin-bottom: 240px; } .pd_b_240 { padding-bottom: 240px; }
.mg_b_244 { margin-bottom: 244px; } .pd_b_244 { padding-bottom: 244px; }
.mg_b_248 { margin-bottom: 248px; } .pd_b_248 { padding-bottom: 248px; }
.mg_b_252 { margin-bottom: 252px; } .pd_b_252 { padding-bottom: 252px; }
.mg_b_256 { margin-bottom: 256px; } .pd_b_256 { padding-bottom: 256px; }

.mg_lr_4 { margin-left: 4px; margin-right: 4px; } 
.mg_lr_8 { margin-left: 8px; margin-right: 8px; } 
.mg_lr_12 { margin-left: 12px; margin-right: 12px; } 
.mg_lr_16 { margin-left: 16px; margin-right: 16px; } 
.mg_lr_20 { margin-left: 20px; margin-right: 20px; } 
.mg_lr_24 { margin-left: 24px; margin-right: 24px; } 
.mg_lr_28 { margin-left: 28px; margin-right: 28px; } 
.mg_lr_32 { margin-left: 32px; margin-right: 32px; } 
.mg_lr_36 { margin-left: 36px; margin-right: 36px; } 
.mg_lr_40 { margin-left: 40px; margin-right: 40px; } 
.mg_lr_44 { margin-left: 44px; margin-right: 44px; } 
.mg_lr_48 { margin-left: 48px; margin-right: 48px; } 
.mg_lr_52 { margin-left: 52px; margin-right: 52px; } 
.mg_lr_56 { margin-left: 56px; margin-right: 56px; } 
.mg_lr_60 { margin-left: 60px; margin-right: 60px; } 
.mg_lr_64 { margin-left: 64px; margin-right: 64px; } 
.mg_lr_68 { margin-left: 68px; margin-right: 68px; } 
.mg_lr_72 { margin-left: 72px; margin-right: 72px; } 
.mg_lr_76 { margin-left: 76px; margin-right: 76px; } 
.mg_lr_80 { margin-left: 80px; margin-right: 80px; } 
.mg_lr_84 { margin-left: 84px; margin-right: 84px; } 
.mg_lr_88 { margin-left: 88px; margin-right: 88px; } 
.mg_lr_92 { margin-left: 92px; margin-right: 92px; } 
.mg_lr_96 { margin-left: 96px; margin-right: 96px; } 
.mg_lr_100 { margin-left: 100px; margin-right: 100px; } 
.mg_lr_104 { margin-left: 104px; margin-right: 104px; } 
.mg_lr_108 { margin-left: 108px; margin-right: 108px; } 
.mg_lr_112 { margin-left: 112px; margin-right: 112px; } 
.mg_lr_116 { margin-left: 116px; margin-right: 116px; } 
.mg_lr_120 { margin-left: 120px; margin-right: 120px; } 
.mg_lr_124 { margin-left: 124px; margin-right: 124px; } 
.mg_lr_128 { margin-left: 128px; margin-right: 128px; } 
.mg_lr_132 { margin-left: 132px; margin-right: 132px; } 
.mg_lr_136 { margin-left: 136px; margin-right: 136px; } 
.mg_lr_140 { margin-left: 140px; margin-right: 140px; } 
.mg_lr_144 { margin-left: 144px; margin-right: 144px; } 
.mg_lr_148 { margin-left: 148px; margin-right: 148px; } 
.mg_lr_152 { margin-left: 152px; margin-right: 152px; } 
.mg_lr_156 { margin-left: 156px; margin-right: 156px; } 
.mg_lr_160 { margin-left: 160px; margin-right: 160px; } 
.mg_lr_164 { margin-left: 164px; margin-right: 164px; } 
.mg_lr_168 { margin-left: 168px; margin-right: 168px; } 
.mg_lr_172 { margin-left: 172px; margin-right: 172px; } 
.mg_lr_176 { margin-left: 176px; margin-right: 176px; } 
.mg_lr_180 { margin-left: 180px; margin-right: 180px; } 
.mg_lr_184 { margin-left: 184px; margin-right: 184px; } 
.mg_lr_188 { margin-left: 188px; margin-right: 188px; } 
.mg_lr_192 { margin-left: 192px; margin-right: 192px; } 
.mg_lr_196 { margin-left: 196px; margin-right: 196px; } 
.mg_lr_200 { margin-left: 200px; margin-right: 200px; } 
.mg_lr_204 { margin-left: 204px; margin-right: 204px; } 
.mg_lr_208 { margin-left: 208px; margin-right: 208px; } 
.mg_lr_212 { margin-left: 212px; margin-right: 212px; } 
.mg_lr_216 { margin-left: 216px; margin-right: 216px; } 
.mg_lr_220 { margin-left: 220px; margin-right: 220px; } 
.mg_lr_224 { margin-left: 224px; margin-right: 224px; } 
.mg_lr_228 { margin-left: 228px; margin-right: 228px; } 
.mg_lr_232 { margin-left: 232px; margin-right: 232px; } 
.mg_lr_236 { margin-left: 236px; margin-right: 236px; } 
.mg_lr_240 { margin-left: 240px; margin-right: 240px; } 
.mg_lr_244 { margin-left: 244px; margin-right: 244px; } 
.mg_lr_248 { margin-left: 248px; margin-right: 248px; } 
.mg_lr_252 { margin-left: 252px; margin-right: 252px; } 
.mg_lr_256 { margin-left: 256px; margin-right: 256px; } 
.mg_lr_auto { margin-left: auto; margin-right: auto; } 

.mg_tb_4 { margin-top: 4px; margin-bottom: 4px; } 
.mg_tb_8 { margin-top: 8px; margin-bottom: 8px; } 
.mg_tb_12 { margin-top: 12px; margin-bottom: 12px; } 
.mg_tb_16 { margin-top: 16px; margin-bottom: 16px; } 
.mg_tb_20 { margin-top: 20px; margin-bottom: 20px; } 
.mg_tb_24 { margin-top: 24px; margin-bottom: 24px; } 
.mg_tb_28 { margin-top: 28px; margin-bottom: 28px; } 
.mg_tb_32 { margin-top: 32px; margin-bottom: 32px; } 
.mg_tb_36 { margin-top: 36px; margin-bottom: 36px; } 
.mg_tb_40 { margin-top: 40px; margin-bottom: 40px; } 
.mg_tb_44 { margin-top: 44px; margin-bottom: 44px; } 
.mg_tb_48 { margin-top: 48px; margin-bottom: 48px; } 
.mg_tb_52 { margin-top: 52px; margin-bottom: 52px; } 
.mg_tb_56 { margin-top: 56px; margin-bottom: 56px; } 
.mg_tb_60 { margin-top: 60px; margin-bottom: 60px; } 
.mg_tb_64 { margin-top: 64px; margin-bottom: 64px; } 
.mg_tb_68 { margin-top: 68px; margin-bottom: 68px; } 
.mg_tb_72 { margin-top: 72px; margin-bottom: 72px; } 
.mg_tb_76 { margin-top: 76px; margin-bottom: 76px; } 
.mg_tb_80 { margin-top: 80px; margin-bottom: 80px; } 
.mg_tb_84 { margin-top: 84px; margin-bottom: 84px; } 
.mg_tb_88 { margin-top: 88px; margin-bottom: 88px; } 
.mg_tb_92 { margin-top: 92px; margin-bottom: 92px; } 
.mg_tb_96 { margin-top: 96px; margin-bottom: 96px; } 
.mg_tb_100 { margin-top: 100px; margin-bottom: 100px; } 
.mg_tb_104 { margin-top: 104px; margin-bottom: 104px; } 
.mg_tb_108 { margin-top: 108px; margin-bottom: 108px; } 
.mg_tb_112 { margin-top: 112px; margin-bottom: 112px; } 
.mg_tb_116 { margin-top: 116px; margin-bottom: 116px; } 
.mg_tb_120 { margin-top: 120px; margin-bottom: 120px; } 
.mg_tb_124 { margin-top: 124px; margin-bottom: 124px; } 
.mg_tb_128 { margin-top: 128px; margin-bottom: 128px; } 
.mg_tb_132 { margin-top: 132px; margin-bottom: 132px; } 
.mg_tb_136 { margin-top: 136px; margin-bottom: 136px; } 
.mg_tb_140 { margin-top: 140px; margin-bottom: 140px; } 
.mg_tb_144 { margin-top: 144px; margin-bottom: 144px; } 
.mg_tb_148 { margin-top: 148px; margin-bottom: 148px; } 
.mg_tb_152 { margin-top: 152px; margin-bottom: 152px; } 
.mg_tb_156 { margin-top: 156px; margin-bottom: 156px; } 
.mg_tb_160 { margin-top: 160px; margin-bottom: 160px; } 
.mg_tb_164 { margin-top: 164px; margin-bottom: 164px; } 
.mg_tb_168 { margin-top: 168px; margin-bottom: 168px; } 
.mg_tb_172 { margin-top: 172px; margin-bottom: 172px; } 
.mg_tb_176 { margin-top: 176px; margin-bottom: 176px; } 
.mg_tb_180 { margin-top: 180px; margin-bottom: 180px; } 
.mg_tb_184 { margin-top: 184px; margin-bottom: 184px; } 
.mg_tb_188 { margin-top: 188px; margin-bottom: 188px; } 
.mg_tb_192 { margin-top: 192px; margin-bottom: 192px; } 
.mg_tb_196 { margin-top: 196px; margin-bottom: 196px; } 
.mg_tb_200 { margin-top: 200px; margin-bottom: 200px; } 
.mg_tb_204 { margin-top: 204px; margin-bottom: 204px; } 
.mg_tb_208 { margin-top: 208px; margin-bottom: 208px; } 
.mg_tb_212 { margin-top: 212px; margin-bottom: 212px; } 
.mg_tb_216 { margin-top: 216px; margin-bottom: 216px; } 
.mg_tb_220 { margin-top: 220px; margin-bottom: 220px; } 
.mg_tb_224 { margin-top: 224px; margin-bottom: 224px; } 
.mg_tb_228 { margin-top: 228px; margin-bottom: 228px; } 
.mg_tb_232 { margin-top: 232px; margin-bottom: 232px; } 
.mg_tb_236 { margin-top: 236px; margin-bottom: 236px; } 
.mg_tb_240 { margin-top: 240px; margin-bottom: 240px; } 
.mg_tb_244 { margin-top: 244px; margin-bottom: 244px; } 
.mg_tb_248 { margin-top: 248px; margin-bottom: 248px; } 
.mg_tb_252 { margin-top: 252px; margin-bottom: 252px; } 
.mg_tb_256 { margin-top: 256px; margin-bottom: 256px; } 

.pd_lr_4 { padding-left: 4px; padding-right: 4px; } 
.pd_lr_8 { padding-left: 8px; padding-right: 8px; } 
.pd_lr_12 { padding-left: 12px; padding-right: 12px; } 
.pd_lr_16 { padding-left: 16px; padding-right: 16px; } 
.pd_lr_20 { padding-left: 20px; padding-right: 20px; } 
.pd_lr_24 { padding-left: 24px; padding-right: 24px; } 
.pd_lr_28 { padding-left: 28px; padding-right: 28px; } 
.pd_lr_32 { padding-left: 32px; padding-right: 32px; } 
.pd_lr_36 { padding-left: 36px; padding-right: 36px; } 
.pd_lr_40 { padding-left: 40px; padding-right: 40px; } 
.pd_lr_44 { padding-left: 44px; padding-right: 44px; } 
.pd_lr_48 { padding-left: 48px; padding-right: 48px; } 
.pd_lr_52 { padding-left: 52px; padding-right: 52px; } 
.pd_lr_56 { padding-left: 56px; padding-right: 56px; } 
.pd_lr_60 { padding-left: 60px; padding-right: 60px; } 
.pd_lr_64 { padding-left: 64px; padding-right: 64px; } 
.pd_lr_68 { padding-left: 68px; padding-right: 68px; } 
.pd_lr_72 { padding-left: 72px; padding-right: 72px; } 
.pd_lr_76 { padding-left: 76px; padding-right: 76px; } 
.pd_lr_80 { padding-left: 80px; padding-right: 80px; } 
.pd_lr_84 { padding-left: 84px; padding-right: 84px; } 
.pd_lr_88 { padding-left: 88px; padding-right: 88px; } 
.pd_lr_92 { padding-left: 92px; padding-right: 92px; } 
.pd_lr_96 { padding-left: 96px; padding-right: 96px; } 
.pd_lr_100 { padding-left: 100px; padding-right: 100px; } 
.pd_lr_104 { padding-left: 104px; padding-right: 104px; } 
.pd_lr_108 { padding-left: 108px; padding-right: 108px; } 
.pd_lr_112 { padding-left: 112px; padding-right: 112px; } 
.pd_lr_116 { padding-left: 116px; padding-right: 116px; } 
.pd_lr_120 { padding-left: 120px; padding-right: 120px; } 
.pd_lr_124 { padding-left: 124px; padding-right: 124px; } 
.pd_lr_128 { padding-left: 128px; padding-right: 128px; } 
.pd_lr_132 { padding-left: 132px; padding-right: 132px; } 
.pd_lr_136 { padding-left: 136px; padding-right: 136px; } 
.pd_lr_140 { padding-left: 140px; padding-right: 140px; } 
.pd_lr_144 { padding-left: 144px; padding-right: 144px; } 
.pd_lr_148 { padding-left: 148px; padding-right: 148px; } 
.pd_lr_152 { padding-left: 152px; padding-right: 152px; } 
.pd_lr_156 { padding-left: 156px; padding-right: 156px; } 
.pd_lr_160 { padding-left: 160px; padding-right: 160px; } 
.pd_lr_164 { padding-left: 164px; padding-right: 164px; } 
.pd_lr_168 { padding-left: 168px; padding-right: 168px; } 
.pd_lr_172 { padding-left: 172px; padding-right: 172px; } 
.pd_lr_176 { padding-left: 176px; padding-right: 176px; } 
.pd_lr_180 { padding-left: 180px; padding-right: 180px; } 
.pd_lr_184 { padding-left: 184px; padding-right: 184px; } 
.pd_lr_188 { padding-left: 188px; padding-right: 188px; } 
.pd_lr_192 { padding-left: 192px; padding-right: 192px; } 
.pd_lr_196 { padding-left: 196px; padding-right: 196px; } 
.pd_lr_200 { padding-left: 200px; padding-right: 200px; } 
.pd_lr_204 { padding-left: 204px; padding-right: 204px; } 
.pd_lr_208 { padding-left: 208px; padding-right: 208px; } 
.pd_lr_212 { padding-left: 212px; padding-right: 212px; } 
.pd_lr_216 { padding-left: 216px; padding-right: 216px; } 
.pd_lr_220 { padding-left: 220px; padding-right: 220px; } 
.pd_lr_224 { padding-left: 224px; padding-right: 224px; } 
.pd_lr_228 { padding-left: 228px; padding-right: 228px; } 
.pd_lr_232 { padding-left: 232px; padding-right: 232px; } 
.pd_lr_236 { padding-left: 236px; padding-right: 236px; } 
.pd_lr_240 { padding-left: 240px; padding-right: 240px; } 
.pd_lr_244 { padding-left: 244px; padding-right: 244px; } 
.pd_lr_248 { padding-left: 248px; padding-right: 248px; } 
.pd_lr_252 { padding-left: 252px; padding-right: 252px; } 
.pd_lr_256 { padding-left: 256px; padding-right: 256px; } 
.pd_lr_256 { padding-left: 256px; padding-right: 256px; } 

.pd_tb_4 { padding-top: 4px; padding-bottom: 4px; } 
.pd_tb_8 { padding-top: 8px; padding-bottom: 8px; } 
.pd_tb_12 { padding-top: 12px; padding-bottom: 12px; } 
.pd_tb_16 { padding-top: 16px; padding-bottom: 16px; } 
.pd_tb_20 { padding-top: 20px; padding-bottom: 20px; } 
.pd_tb_24 { padding-top: 24px; padding-bottom: 24px; } 
.pd_tb_28 { padding-top: 28px; padding-bottom: 28px; } 
.pd_tb_32 { padding-top: 32px; padding-bottom: 32px; } 
.pd_tb_36 { padding-top: 36px; padding-bottom: 36px; } 
.pd_tb_40 { padding-top: 40px; padding-bottom: 40px; } 
.pd_tb_44 { padding-top: 44px; padding-bottom: 44px; } 
.pd_tb_48 { padding-top: 48px; padding-bottom: 48px; } 
.pd_tb_52 { padding-top: 52px; padding-bottom: 52px; } 
.pd_tb_56 { padding-top: 56px; padding-bottom: 56px; } 
.pd_tb_60 { padding-top: 60px; padding-bottom: 60px; } 
.pd_tb_64 { padding-top: 64px; padding-bottom: 64px; } 
.pd_tb_68 { padding-top: 68px; padding-bottom: 68px; } 
.pd_tb_72 { padding-top: 72px; padding-bottom: 72px; } 
.pd_tb_76 { padding-top: 76px; padding-bottom: 76px; } 
.pd_tb_80 { padding-top: 80px; padding-bottom: 80px; } 
.pd_tb_84 { padding-top: 84px; padding-bottom: 84px; } 
.pd_tb_88 { padding-top: 88px; padding-bottom: 88px; } 
.pd_tb_92 { padding-top: 92px; padding-bottom: 92px; } 
.pd_tb_96 { padding-top: 96px; padding-bottom: 96px; } 
.pd_tb_100 { padding-top: 100px; padding-bottom: 100px; } 
.pd_tb_104 { padding-top: 104px; padding-bottom: 104px; } 
.pd_tb_108 { padding-top: 108px; padding-bottom: 108px; } 
.pd_tb_112 { padding-top: 112px; padding-bottom: 112px; } 
.pd_tb_116 { padding-top: 116px; padding-bottom: 116px; } 
.pd_tb_120 { padding-top: 120px; padding-bottom: 120px; } 
.pd_tb_124 { padding-top: 124px; padding-bottom: 124px; } 
.pd_tb_128 { padding-top: 128px; padding-bottom: 128px; } 
.pd_tb_132 { padding-top: 132px; padding-bottom: 132px; } 
.pd_tb_136 { padding-top: 136px; padding-bottom: 136px; } 
.pd_tb_140 { padding-top: 140px; padding-bottom: 140px; } 
.pd_tb_144 { padding-top: 144px; padding-bottom: 144px; } 
.pd_tb_148 { padding-top: 148px; padding-bottom: 148px; } 
.pd_tb_152 { padding-top: 152px; padding-bottom: 152px; } 
.pd_tb_156 { padding-top: 156px; padding-bottom: 156px; } 
.pd_tb_160 { padding-top: 160px; padding-bottom: 160px; } 
.pd_tb_164 { padding-top: 164px; padding-bottom: 164px; } 
.pd_tb_168 { padding-top: 168px; padding-bottom: 168px; } 
.pd_tb_172 { padding-top: 172px; padding-bottom: 172px; } 
.pd_tb_176 { padding-top: 176px; padding-bottom: 176px; } 
.pd_tb_180 { padding-top: 180px; padding-bottom: 180px; } 
.pd_tb_184 { padding-top: 184px; padding-bottom: 184px; } 
.pd_tb_188 { padding-top: 188px; padding-bottom: 188px; } 
.pd_tb_192 { padding-top: 192px; padding-bottom: 192px; } 
.pd_tb_196 { padding-top: 196px; padding-bottom: 196px; } 
.pd_tb_200 { padding-top: 200px; padding-bottom: 200px; } 
.pd_tb_204 { padding-top: 204px; padding-bottom: 204px; } 
.pd_tb_208 { padding-top: 208px; padding-bottom: 208px; } 
.pd_tb_212 { padding-top: 212px; padding-bottom: 212px; } 
.pd_tb_216 { padding-top: 216px; padding-bottom: 216px; } 
.pd_tb_220 { padding-top: 220px; padding-bottom: 220px; } 
.pd_tb_224 { padding-top: 224px; padding-bottom: 224px; } 
.pd_tb_228 { padding-top: 228px; padding-bottom: 228px; } 
.pd_tb_232 { padding-top: 232px; padding-bottom: 232px; } 
.pd_tb_236 { padding-top: 236px; padding-bottom: 236px; } 
.pd_tb_240 { padding-top: 240px; padding-bottom: 240px; } 
.pd_tb_244 { padding-top: 244px; padding-bottom: 244px; } 
.pd_tb_248 { padding-top: 248px; padding-bottom: 248px; } 
.pd_tb_252 { padding-top: 252px; padding-bottom: 252px; } 
.pd_tb_256 { padding-top: 256px; padding-bottom: 256px; } 

.fsize_8px { font-size: 8px; } 
.fsize_10px { font-size: 10px; } 
.fsize_12px { font-size: 12px; } 
.fsize_14px { font-size: 14px; } 
.fsize_16px { font-size: 16px; } 
.fsize_18px { font-size: 18px; } 
.fsize_20px { font-size: 20px; } 
.fsize_22px { font-size: 22px; } 
.fsize_24px { font-size: 24px; } 
.fsize_26px { font-size: 26px; } 
.fsize_28px { font-size: 28px; } 
.fsize_30px { font-size: 30px; } 
.fsize_32px { font-size: 32px; } 
.fsize_34px { font-size: 34px; } 
.fsize_36px { font-size: 36px; } 
.fsize_38px { font-size: 38px; } 
.fsize_40px { font-size: 40px; } 
.fsize_42px { font-size: 42px; } 
.fsize_44px { font-size: 44px; } 
.fsize_46px { font-size: 46px; } 
.fsize_48px { font-size: 48px; } 
.fsize_50px { font-size: 50px; } 
.fsize_52px { font-size: 52px; } 
.fsize_54px { font-size: 54px; } 
.fsize_56px { font-size: 56px; } 
.fsize_58px { font-size: 58px; } 
.fsize_60px { font-size: 60px; } 
.fsize_62px { font-size: 62px; } 
.fsize_64px { font-size: 64px; } 

.fsize_10pc { font-size: 10%; } 
.fsize_20pc { font-size: 20%; } 
.fsize_30pc { font-size: 30%; } 
.fsize_40pc { font-size: 40%; } 
.fsize_50pc { font-size: 50%; } 
.fsize_60pc { font-size: 60%; } 
.fsize_70pc { font-size: 70%; } 
.fsize_80pc { font-size: 80%; } 
.fsize_90pc { font-size: 90%; } 
.fsize_100pc { font-size: 100%; } 
.fsize_110pc { font-size: 110%; } 
.fsize_120pc { font-size: 120%; } 
.fsize_130pc { font-size: 130%; } 
.fsize_140pc { font-size: 140%; } 
.fsize_150pc { font-size: 150%; } 
.fsize_160pc { font-size: 160%; } 
.fsize_170pc { font-size: 170%; } 
.fsize_180pc { font-size: 180%; } 
.fsize_190pc { font-size: 190%; } 
.fsize_200pc { font-size: 200%; } 

.width_10pc { width: 10%; }
.width_20pc { width: 20%; }
.width_30pc { width: 30%; }
.width_40pc { width: 40%; }
.width_50pc { width: 50%; }
.width_60pc { width: 60%; }
.width_70pc { width: 70%; }
.width_80pc { width: 80%; }
.width_90pc { width: 90%; }
