@charset "utf-8";
@import url(foundation_V_PC.css);

/* Contents Field */
div.contents {
    width                   : 350px;
    height                  : 360px;
}

/* Item */
table.contents td.item {
    width                   : 160px;
    padding-right           : 10px;
    text-align              : right;
}

/* Submit Button */
table.controls td.send {
    width                   : 50px;
}

/* Help */
table.controls td.help {
    text-align              : left;
}

/* Cancel Link */
table.controls td.cancel {
    text-align              : center;
}

.button
{
    font-family             : arial;
    font-size               : 12px;
}